<!doctype html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        
    </head>
    <body>
        <div id="wrapper">
            <section>
                <h1>What's Appn'</h1>
                <h2>Login with Facebook:</h2>
                <form>
                    <label for="email">Email: </label>
                    <input id="email" name="email" type="text" placeholder="Email">
                    <label for="password">Password: </label>
                    <input id="password" name="password" type="password" placeholder="Password">
                </form>
            </section>
        </div>  
    </body>
</html>