@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} 
body {
    background-color: #3eb5ac;
    font-family: 'Open Sans', sans-serif;
    color: #28948c;
}
#main-navbar {
    border-bottom:3px solid #28948c;
    display: block;
    height:40px;
    position:sticky;
    overflow: hidden;
}
#main-navbar ul {
    list-style:none;
    padding:0;
    display:block;
    box-sizing:border-box;
    float:left;
    font-size:12px;
}
#main-navbar ul li{
    float:left;
    padding: 0 20px;
}
#main-navbar ul li a {
    text-decoration: none;
    color:#fefefe;
}
#main-navbar ul li a:hover {
    color:#fefefe;
}
#logout {
    padding:5px;
    font-size: 10px;
    margin-top:-5px;
}
section {
    background-color: #FFFBFA;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px #28948c;
    height: 100%;
    width: 35%; 
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}
#side-section {
    overflow:scroll !important;
    //border-right:3px solid #bbb;
}
section h1 {
    letter-spacing: 3px;
    text-align: center;
}
section form {
    letter-spacing: 2px;
    width: 80%;
    margin: auto;
    min-height: 160px;
    box-sizing: border-box;
}
section article {
    padding:20px;
}
#my_events, #public_events div {
    padding:15px;
    margin:5px;
    background:#fff;
}
input {
    letter-spacing:1px;  
    outline:none;
    width:90%;
    padding:10px;
    height:20px;
    margin:auto;
}
button {
    width: 96%;
    letter-spacing: 2px;
    border:2px solid #3eb5ac;
    outline: none;
    padding: 10px;
    margin: 10px auto;
    font-size: 20px;
    color:#FFFBFA;
    overflow: hidden;
    box-sizing: border-box;
    cursor:pointer;
    
    background: #3eb5ac;
    -webkit-box-shadow: 0 5px #28948c;
    box-shadow: 0 5px #28948c;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
button:hover, 
button:focus {
    -webkit-box-shadow: 0 3px #28948c;
    box-shadow: 0 3px #28948c;
    background: #3eb5ac;
    top: 2px;
    position: relative;
    border:2px solid #62c4bc;
    box-sizing: border-box;
}
button:active {
    -webkit-box-shadow: 0 0 #28948c;
    box-shadow: 0 0 #28948c;
    top: 5px;
    background: #3eb5ac;
    border-color: #3eb5ac;
    border:2px solid #53b9b1;
    box-sizing: border-box;
}
#map {
    display: flex;
    height: 100%;
    width: 65%;
    float:right;
}
#events, #logout{
    display: none;
} 
 /*style the info box*/  
.gm-style .gm-style-iw {
    //background-color: black;
 }    
#event, #place {
    padding:15px;
    margin:5px;
    background:#fefefe;
}
#event-img img{
    margin:auto;
    max-width:95%;
    border:1px solid grey;
}


